// Theme Styles

// Header
body {
	background-color: grey!important;
}

p {
  color: white;
}


nav {
	background-color:transparent;
}

nav.scrolled {
	position: fixed;
	background-color: rgba($color: black, $alpha: .20);
	z-index: 10000;
}

#slider-parent {
	position: relative;
}

.nivo-directionNav a {
	border-radius: 50%;
	background-color: white!important;
	padding: 25px 20px;
	opacity: .4;
}

.nivo-controlNav {
	position: absolute;
	bottom: 4%;
	padding: 0;
	z-index: 100;
	text-align: center;
	width: 100%;
}

.nivo-controlNav a {
	background-color: white;
	margin: 0 5px;
	border-radius: 50%;
	display: inline-block;
	width: 25px;
	height: 25px;

}


// Subscription
#subscribe {
	text-align: center;
}

#subscribe span {
	color: red;
}

// Footer

$footer-bg-color: #23232c;

footer {
	background-color: $footer-bg-color;
	color: white;
	position: relative;
	width: 100%;
	bottom: 0px;
	padding: 3% 0;
}
.information-ul ul, #popular-tags ul {
	padding: 0;
	margin: 0;
}

.information-ul li {
	list-style: none;
	display: block;
	transition: ease-in-out all .3s;
}

.information-ul li:hover {
	color: red;
	padding-left: 17px;
	transition: ease-in-out all .3s;
}

#popular-tags li {
	list-style: none;
	border: solid 1px grey;
	display: inline-block;
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}

footer hr {
	background-color: white;
}

#credit-cards {
	text-align: right;
}